<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net46" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net46" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net46" />
  <package id="Mutzl.Mvvm.DependentRelayCommand" version="0.9.5.0" targetFramework="net46" />
  <package id="Portable.CommonServiceLocator" version="1.2.2" targetFramework="net46" />
  <package id="Portable.MvvmLightLibs" version="4.1.26" targetFramework="net46" />
  <package id="Unofficial.Blend.Interactivity" version="1.0.0" targetFramework="net46" />
</packages>